{{!-- Gear body --}}
<section class="card">
  <h3>{{localize "FLAIL.Section.Properties"}}</h3>
  <div class="row">
    <label>{{localize "FLAIL.Field.SlotsRequired"}}
      <input type="number" name="system.slotsRequired" value="{{system.slotsRequired}}" min="1" {{#unless editable}}disabled{{/unless}} />
    </label>
    <label>{{localize "FLAIL.Field.Quantity"}}
      <input type="number" name="system.quantity" value="{{system.quantity}}" min="1" {{#unless editable}}disabled{{/unless}} />
    </label>
    <label>{{localize "FLAIL.Field.Tag"}}
      <input type="text" name="system.tag" value="{{system.tag}}" placeholder="lightSource, ration, tool…" {{#unless editable}}disabled{{/unless}} />
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.consumable" {{#if system.consumable}}checked{{/if}} {{#unless editable}}disabled{{/unless}} />
      {{localize "FLAIL.Field.Consumable"}}
    </label>
  </div>
</section>

<section class="card">
  <h3>{{localize "FLAIL.Section.Usage"}}</h3>
  <div class="row">
    <label>{{localize "FLAIL.Field.UsageMax"}}
      <input type="number" name="system.usage.max" value="{{system.usage.max}}" min="0" {{#unless editable}}disabled{{/unless}} />
    </label>
    <label>{{localize "FLAIL.Field.UsageValue"}}
      <input type="number" name="system.usage.value" value="{{system.usage.value}}" min="0" {{#unless editable}}disabled{{/unless}} />
    </label>
    <label>{{localize "FLAIL.Field.Cost"}}
      <input type="number" name="system.cost" value="{{system.cost}}" min="0" {{#unless editable}}disabled{{/unless}} />
    </label>
  </div>
</section>
