<div class="flail-chat-card shapeshift-revert-card">
  <header class="flail-chat-header shapeshift-header">
    <i class="fas fa-person"></i>
    <span>{{localize "FLAIL.Shapeshift.RevertCardTitle"}}</span>
  </header>
  <div class="flail-chat-body">
    <p class="revert-line">
      <strong>{{actor.name}}</strong> {{localize "FLAIL.Shapeshift.RevertsFrom"}}
      <strong class="beast-name">{{beastForm}}</strong>
    </p>

    {{#if hadSixes}}
      <div class="mutation-saves">
        <h4>{{localize "FLAIL.Shapeshift.MutationSaves"}}</h4>
        <ul class="save-list">
          {{#each saveOutcomes}}
          <li class="save-row {{#if pass}}save-pass{{else}}save-fail{{/if}}">
            <span class="save-attr">{{attributeLabel}}</span>
            <span class="save-detail">
              {{localize "FLAIL.Shapeshift.SaveDetail" score=score rolled=rolled}}
            </span>
            <span class="save-result">
              {{#if pass}}
              <i class="fas fa-check"></i> {{localize "FLAIL.Save.Success"}}
              {{else}}
              <i class="fas fa-times"></i> {{localize "FLAIL.Save.Fail"}}
              {{/if}}
            </span>
          </li>
          {{/each}}
        </ul>
      </div>

      {{#if losses.length}}
      <div class="mutation-losses">
        <strong>{{localize "FLAIL.Shapeshift.PermanentLosses"}}</strong>
        <ul>
          {{#each losses}}
          <li>{{attributeLabel}} −{{amount}}</li>
          {{/each}}
        </ul>
      </div>
      {{else}}
      <p class="mutation-clean">
        <i class="fas fa-shield-heart"></i>
        {{localize "FLAIL.Shapeshift.NoLosses"}}
      </p>
      {{/if}}
    {{else}}
      <p class="mutation-none">{{localize "FLAIL.Shapeshift.NoRisks"}}</p>
    {{/if}}
  </div>
</div>
